<h3 class="sessions-title">Please Log In</h3>

<p id="notice"><%= flash[:error] %></p>

<%= form_tag do %>
  <div class="row align-center">
    <div class="small-13 medium-8 large-6 column">
      <%= label_tag :email, "Email" %>
      <%= text_field_tag :email, params[:email] %>
    </div>
  </div>
  <div class="row align-center">
    <div class="small-13 medium-8 large-6 column">
      <%= label_tag :password, "Password" %>
      <%= password_field_tag :password, params[:password] %>
    </div>
  </div>
  <div class="row align-center">
    <%= submit_tag "Login", :class => "button column small-12 medium-3 large-2 sessions-btn" %>
  </div>
<% end %>
