<p id="notice"><%= notice %></p>

<h1>Tasks Board</h1>

<div class="row">
  <article class="small-4 column">
    <% @tasks.each do |task| %>
      <h1><%= task.title %></h1>
      <p><%= task.description %></p>
      <p><%= task.priority %></p>
      <p><%= task.status %></p>
      <p><%= task.due_date %></p>
      <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <% end %>
  </article>

  <article class="small-4 column">

  </article>

  <article class="small-4 column">

  </article>

</div>


<br>

<%= button_to 'New Task', new_task_path, method: :get %>
