<p id="notice"><%= notice %></p>

<h1>Tasks Board</h1>

<div class="row align-spaced tasks-overwiev">
  <article class="column task-column">
    <% @tasks.each do |task| %>
      <div class="task">
        <h1 class="task--title"><%= task.title %></h1>
        <p><%= task.description %></p>
        <p><%= task.priority %></p>
        <p><%= task.status %></p>
        <p><%= task.due_date %></p>
        <p><%= link_to 'Edit', edit_task_path(task) %></p>
      </div>
    <% end %>
  </article>

  <article class="column task-column">
    <% @tasks.each do |task| %>
      <div class="task">
        <h1 class="task--title"><%= task.title %></h1>
        <p><%= task.description %></p>
        <p><%= task.priority %></p>
        <p><%= task.status %></p>
        <p><%= task.due_date %></p>
        <p><%= link_to 'Edit', edit_task_path(task) %></p>
      </div>
    <% end %>
  </article>

  <article class="column task-column">
    <% @tasks.each do |task| %>
      <div class="task">
        <h1 class="task--title"><%= task.title %></h1>
        <p><%= task.description %></p>
        <p><%= task.priority %></p>
        <p><%= task.status %></p>
        <p><%= task.due_date %></p>
        <p><%= link_to 'Edit', edit_task_path(task) %></p>
      </div>
    <% end %>
  </article>

</div>


<br>

<%= button_to 'New Task', new_task_path, method: :get %>
