<p id="notice"><%= notice %></p>

<h1>Tasks Board</h1>

<%= button_to 'New Task', new_task_path, method: :get, :class => "button" %>

<div class="row align-justify tasks-overwiev">
  <article class="small-13 medium-13 large-4 column large-expand task-column todo">
    <h1 class="task-column--title"><%= @tasks.statuses.keys[0] %></h1>
    <% if @user %>
      <% @todo.each do |task| %>
        <div class="task">
          <h1 class="task--title"><%= task.title %></h1>
          <p><%= task.description %></p>
          <p><%= task.priority %></p>
          <p><%= task.status %></p>
          <p><%= task.due_date %></p>
          <p><%= link_to 'Edit', edit_task_path(task) %></p>
        </div>
      <% end %>
    <% end %>
  </article>

  <article class="small-13 medium-13 large-4 column large-expand task-column doing">
    <h1 class="task-column--title"><%= @tasks.statuses.keys[1] %></h1>
    <% @doing.each do |task| %>
      <div class="task">
        <h1 class="task--title"><%= task.title %></h1>
        <p><%= task.description %></p>
        <p><%= task.priority %></p>
        <p><%= task.status %></p>
        <p><%= task.due_date %></p>
        <p><%= link_to 'Edit', edit_task_path(task) %></p>
      </div>
    <% end %>
  </article>

  <article class="small-13 medium-13 large-4 column large-expand task-column done">
    <h1 class="task-column--title"><%= @tasks.statuses.keys[2] %></h1>
    <% @done.each do |task| %>
      <div class="task">
        <h1 class="task--title"><%= task.title %></h1>
        <p><%= task.description %></p>
        <p><%= task.priority %></p>
        <p><%= task.status %></p>
        <p><%= task.due_date %></p>
        <p><%= link_to 'Edit', edit_task_path(task) %></p>
      </div>
    <% end %>
  </article>

</div>


<br>
